<div class="middle-box text-center animated fadeInDown">
    <h1>404</h1>
    <h3 class="font-bold">Página no encontrada</h3>

    <div class="error-desc">
        Lo sentimos, pero la página que buscas no fue encontrada, verifica la URL, después refresca en navegador
    </div>
</div>