<div class="col-md-4 assigned-technician-card">
   <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row title">
                <i>Tickets asignados al técnico</i>
                <i ng:click="deleteColumn(__INDEX_COLUMN__)" class="close-icon fa fa-times"></i>
            </div>
        </div>
        <div class="panel-body">
            <select ng:model="columnData[__INDEX_COLUMN__].selectedTechnician" class="form-control"
                ng-options="technician.name for technician in columnData[__INDEX_COLUMN__].technicians"
                ng-disabled="columnData[__INDEX_COLUMN__].isDisabled" style="margin-bottom: 15px;">
            </select>
            <div class="row" style="margin-left: 15px; margin-right: 15px;"
                ng-repeat="ticket in columnData[__INDEX_COLUMN__].myTickets">
                <div ng-mouseover="ticket.showBasicInfo = false" ng-mouseleave="ticket.showBasicInfo = true">
                    <div ng-show="ticket.showBasicInfo">
                        <h3>{{ticket.client.name}}</h3>
                        <h4>{{ticket.error_code.category}} - {{ticket.error_code.code}} - {{ticket.error_code.name}}</h4>
                        <h5 ng-switch on="ticket.type">
                            <b ng-switch-when="installation">Instalación</b>
                            <b ng-switch-when="service_call">Llamada de soporte</b>
                            <b ng-switch-when="filter_change">Cambio de filtro</b>
                            <b ng-switch-when="removal">Desinstalación</b>
                            <b ng-switch-when="move">Cambio de dirección del cliente</b>
                        </h5>
                        <small>
                            {{ticket.description}}
                        </small>
                        <p>
                            {{ticket.created_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}
                        </p>
                    </div>
                    <div ng-hide="ticket.showBasicInfo">
                        <p>
                            <i class="fa fa-home fa-fw" aria-hidden="true"></i>
                            <span style="font-size:11px;">
                                {{ticket.client.address}} #{{ticket.client.outdoor_number}}<br/>
                                {{ticket.client.colony}} {{ticket.client.postal_code}}<br/>
                                <b>ENTRE</b><br/>
                                {{ticket.client.between_streets}}
                            </span>
                        </p>
                        <p>
                            <i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
                            <span style="font-size:11px;">
                                {{ticket.client.email}}
                            </span>
                        </p>
                        <p>
                            <span style="font-size:11px;">
                                <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
                                {{ticket.client.phone}}
                            </span>
                        </p>
                    </div>
                </div>
                <br>
                <button class="btn btn-danger"
                    ng-click="desassignTicket(ticket, $index, __INDEX_COLUMN__)">
                    Desasignar
                </button>
                <hr>
            </div>
            <p class="selected-date">
                Fecha selecionada:
                <span class="selected-date-text">
                    {{ columnData[__INDEX_COLUMN__].date | date:'yyyy-MM-dd HH:mm' }}
                </span>
            </p>
            <datetimepicker data-ng-model="columnData[__INDEX_COLUMN__].date"></datetimepicker>
        </div>
    </div>
</div>