<div class="modal-header">
	<button type="button" class="close" ng-click="instance.close()"><i class="fa fa-times fa-lg text-danger"></i></button>
  	<h3 class="modal-title">Historial de validacion del cliente {{instance.data.client.name}}</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-lg-12">
			<div class="wrapper wrapper-content">
	            <div class="animated fadeInDown">
                    <div class="inspinia-timeline">
                        <div class="timeline-item" ng-repeat="event in instance.data.validationHistory | orderBy:'created_at':true">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    {{event.created_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}
                                    <br>
                                    <small class="text-navy">hace {{instance.dateDiff(event.created_at)}}</small>
                                </div>
                                <div class="col-xs-7 content" ng-class="{'no-top-border': $first}">
                                    <p class="m-b-xs">
                                        <span class="label label-warning" ng-if="event.hasOwnProperty('id_invalidations')">Invalidación</span>
                                        <span class="label label-danger" ng-if="event.hasOwnProperty('id_cancellations')">Cancelación</span>
                                        <span class="label label-danger" ng-if="event.hasOwnProperty('id_rejections')">Rechazo</span>
                                        <span class="label label-default" ng-if="event.hasOwnProperty('created')">Creado</span>
                                        <span class="label label-success" ng-if="event.hasOwnProperty('id_corrections')">Corrección</span>
                                        <span class="label label-info" ng-if="event.hasOwnProperty('accepted')">Aceptado</span>
                                    </p>
                                    <p>{{event.reasons}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
	            </div>
	        </div>
		</div>
	</div>
</div>
