<div class="modal-header">
    <button type="button" class="close" ng-click="instance.dismiss()"><i class="fa fa-times fa-lg text-danger"></i></button>
    <h3 class="modal-title">Devolución parcial o total</h3>
</div>
<div class="modal-body">
    <div class="row">
        <form name="refundChargeForm" novalidate>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="form-group">
                        <h2>Cargo inicial</h2>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-dollar"></i>
                            </span>
                            <input type="number"
                               min="0" step="1"
                               class="form-control input-lg"
                               id="initial_charge"
                               name="initial_charge"
                               ng-model="instance.data.charge.amount"
							   disabled="disabled"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
				<div class="col-md-6">
					<h2>Total de devoluciones al momento</h2>
					<h2 class="text-info">
						{{instance.data.charge.refunds | map: 'amount' | sum | currency:'$':2}}
					</h2>
				</div>
				<div class="col-md-6">
					<h2>Máxima cantidad posible a devolver</h2>
					<h2 class="text-info">
						{{instance.data.charge.amount - (instance.data.charge.refunds | map: 'amount' | sum)}}
					</h2>
				</div>
                <div class="col-md-offset-3 col-md-6">
                    <div class="form-group" show-errors='{showSuccess: true}'>
                        <h2>Total a devolver</h2>
						<input type="number"
						   min="0" step="1"
						   class="form-control input-lg"
						   id="amount"
						   name="amount"
						   ng-model="instance.data.refund.amount"
						   required/>
                        <p class="help-block" ng-if="refundChargeForm.amount.$error.required">La cantidad a devolver es requerida.</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger btn-lg" ng-click="instance.dismiss()">Cancelar</button>
  <button class="btn btn-info btn-lg"
    ladda="instance.data.loading"
    data-style="zoom-in"
    data-spinner-color="#3e495f"
    data-spinner-size="20"
    ng-click="instance.makeRefund(refundChargeForm, instance.data.refund)">
    Efectuar devolución
</button>
</div>
