<div class="modal-header">
	<button type="button" class="close" ng-click="instance.close()"><i class="fa fa-times fa-lg text-danger"></i></button>
  	<h3 class="modal-title">
        Contrato de compra del cliente {{instance.data.client.name}}
        <div class="btn-group" ng-if="instance.data.editable" dropdown>
            <button type="button" class="btn btn-primary" ng-disabled="instance.data.client.status === 'invalid'" dropdown-toggle>
                <span ng-switch on="instance.data.client.status === 'invalid'">
                    <span ng-switch-when="true">No hay opciones disponibles</span>
                    <span ng-switch-when="false">
                        Opciones&nbsp;
                        <span class="fa fa-fw fa-caret-down"></span>
                    </span>
                </span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="split-button">
                <li role="menuitem">
                    <a href="" ng-if="instance.data.client.status === 'standby'" ng-click="instance.setInvalid(instance.data.client)">Invalidar cliente</a>
                    <a href="" ng-if="instance.data.client.status === 'standby' || instance.data.client.status === 'rejected'" ng-click="instance.setAccepted(instance.data.client)">Aceptar cliente</a>
                    <a href="" ng-if="instance.data.client.status === 'accepted'" ng-click="instance.setCancelled(instance.data.client)">Cancelar cliente</a>
                    <a href="" ng-if="instance.data.client.status === 'standby'" ng-click="instance.setRejected(instance.data.client)">Rechazar cliente</a>
                </li>
            </ul>
        </div>
    </h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-lg-12">
			<div class="wrapper wrapper-content">
	            <div class="animated fadeInDown" ng-switch on="!instance.data.contract">
                    <div class="row" ng-switch-when="true">
                        <div class="alert alert-danger h3" role="alert">
                            <div class="row">
                                <div class="col-md-1 col-xs-1 text-center">
                                    <i class="fa fa fa-exclamation fa-3x text-primary"></i>
                                </div>
                                <div class="col-md-11 col-xs-11" style="margin-top:20px;">
                                    Usuario sin contrato ligado
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-switch-when="false">
                        <div class="col-md-5">
                            <h4><i>Datos del cliente</i></h4>
                            <dl class="dl-horizontal">
                                <dt>Nombre</dt>
                                <dd ng-switch on="instance.data.contract.client.name.trim() === ''">
                                    <span ng-switch-when="true"><b>No proporcionado</b></span>
                                    <span ng-switch-when="false">{{instance.data.contract.client.name}}</span>
                                </dd>
                                <dt>Fecha de alta</dt>
                                <dd>{{instance.data.contract.client.created_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</dd>
                                <dt>Email</dt>
                                <dd ng-switch on="instance.data.contract.client.email.trim() === ''">
                                    <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                    <span ng-switch-when="false">{{instance.data.contract.client.email}}</span>
                                </dd>
                                <dt>Teléfono</dt>
                                <dd ng-switch on="instance.data.contract.client.phone.trim() === ''">
                                    <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                    <span ng-switch-when="false">{{instance.data.contract.client.phone}}</span>
                                </dd>
                                <dt>Dirección</dt>
                                <dd ng-switch on="instance.data.contract.client.address.trim() === ''">
                                    <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                    <span ng-switch-when="false">{{instance.data.contract.client.address}}</span>
                                </dd>
                                <dt>Entre</dt>
                                <dd ng-switch on="instance.data.contract.client.between_streets.trim() === ''">
                                    <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                    <span ng-switch-when="false">{{instance.data.contract.client.between_streets}}</span>
                                </dd>
                                <dt>Colonia</dt>
                                <dd ng-switch on="instance.data.contract.client.colony.trim() === ''">
                                    <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                    <span ng-switch-when="false">{{instance.data.contract.client.colony}}</span>
                                </dd>
                                <dt>Código postal</dt>
                                <dd ng-switch on="instance.data.contract.client.postal_code.trim() === ''">
                                    <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                    <span ng-switch-when="false">{{instance.data.contract.client.postal_code}}</span>
                                </dd>
                                <dt>Estado</dt>
                                <dd ng-switch on="instance.data.contract.client.state.trim() === ''">
                                    <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                    <span ng-switch-when="false">{{instance.data.contract.client.state}}</span>
                                </dd>
                                <dt>Status</dt>
                                <dd>
                                    <span ng-switch on="instance.data.contract.client.status">
                                        <span class="label label-default" ng-switch-when="standby">Pendiente</span>
                                        <span class="label label-warning" ng-switch-when="invalid">Invalido</span>
                                        <span class="label label-info" ng-switch-when="accepted">Aceptado</span>
                                        <span class="label label-danger" ng-switch-when="canceled">Cancelado</span>
                                        <span class="label label-danger" ng-switch-when="rejected">Rechazado</span>
                                    </span>
                                </dd>
								<dt>Servicio gratis</dt>
                                <dd>{{instance.data.contract.client.level!='VIAJERO'?'Si':'No'}}</dd>
                            </dl>
                            <h4 ng-if="instance.data.refereer !== null"><i>Referido por</i></h4>
                            <dl ng-if="instance.data.refereer !== null" class="dl-horizontal">
                                <dt>Nombre</dt>
                                <dd ng-switch on="instance.data.refereer.name.trim() === ''">
                                    <span ng-switch-when="true"><b>No proporcionado</b></span>
                                    <span ng-switch-when="false">{{instance.data.refereer.name}}</span>
                                </dd>
                                <dt>Fecha de alta</dt>
                                <dd>{{instance.data.refereer.created_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</dd>
                                <dt>Email</dt>
                                <dd ng-switch on="instance.data.refereer.email.trim() === ''">
                                    <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                    <span ng-switch-when="false">{{instance.data.refereer.email}}</span>
                                </dd>
                                <dt>Teléfono</dt>
                                <dd ng-switch on="instance.data.refereer.phone.trim() === ''">
                                    <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                    <span ng-switch-when="false">{{instance.data.refereer.phone}}</span>
                                </dd>
                                <dt>Dirección</dt>
                                <dd ng-switch on="instance.data.refereer.address.trim() === ''">
                                    <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                    <span ng-switch-when="false">{{instance.data.refereer.address}}</span>
                                </dd>
                                <dt>Entre</dt>
                                <dd ng-switch on="instance.data.refereer.between_streets.trim() === ''">
                                    <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                    <span ng-switch-when="false">{{instance.data.refereer.between_streets}}</span>
                                </dd>
                                <dt>Colonia</dt>
                                <dd ng-switch on="instance.data.refereer.colony.trim() === ''">
                                    <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                    <span ng-switch-when="false">{{instance.data.refereer.colony}}</span>
                                </dd>
                                <dt>Código postal</dt>
                                <dd ng-switch on="instance.data.refereer.postal_code.trim() === ''">
                                    <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                    <span ng-switch-when="false">{{instance.data.refereer.postal_code}}</span>
                                </dd>
                                <dt>Estado</dt>
                                <dd ng-switch on="instance.data.refereer.state.trim() === ''">
                                    <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                    <span ng-switch-when="false">{{instance.data.refereer.state}}</span>
                                </dd>
                                <dt>Status</dt>
                                <dd>
                                    <span ng-switch on="instance.data.refereer.status">
                                        <span class="label label-default" ng-switch-when="standby">Pendiente</span>
                                        <span class="label label-warning" ng-switch-when="invalid">Invalido</span>
                                        <span class="label label-info" ng-switch-when="accepted">Aceptado</span>
                                        <span class="label label-danger" ng-switch-when="canceled">Cancelado</span>
                                        <span class="label label-danger" ng-switch-when="rejected">Rechazado</span>
                                    </span>
                                </dd>
                                <dt>Servicio gratis</dt>
                                <dd>{{instance.data.refereer.level!='VIAJERO'?'Si':'No'}}</dd>
                            </dl>
                            <h4><i>Datos del contrato</i></h4>
                            <dl class="dl-horizontal">
                                <dt>Fecha</dt>
                                <dd>{{instance.data.contract.created_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</dd>
                            </dl>
                            <h4><i>Pago inicial</i></h4>
                            <table class="table invoice-table">
                                <thead>
                                    <tr>
                                        <th>Categoría</th>
                                        <th>Elemento</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Contrato</td>
                                        <td>Depósito</td>
                                        <td>{{instance.data.contract.client.group.deposit | currency:'$':2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Contrato</td>
                                        <td>1er cargo</td>
                                        <td ng-if="instance.data.contract.client.group.trial_days_price !== '0.00'">{{instance.data.contract.client.group.trial_days_price | currency:'$':2}}</td>
                                        <td ng-if="instance.data.contract.client.group.trial_days_price === '0.00'">{{instance.data.contract.client.group.monthly_fee | currency:'$':2}}</td>
                                    </tr>
                                    <tr ng-repeat="element in instance.data.contract.elements">
                                        <td>
                                            {{element.category_name}}
                                        </td>
                                        <td>
                                            {{element.element_name}}
                                        </td>
                                        <td>
                                            <div ng-switch on="element.element_name == 'Acero inoxidable'">
                                                <span ng-switch-when="true">
                                                    {{instance.data.contract.client.installation_fee | currency:'$':2}}
                                                </span>
                                                <span ng-switch-when="false">
                                                    {{element.price | currency:'$':2}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="instance.data.contract.client.social_responsability == 1">
                                        <td colspan="2">Responsabilidad Social</td>
                                        <td>
                                            {{
                                                (
                                                    (
                                                        instance.data.contract.elements | filter:{'element_name':'!Acero inoxidable'}:true |
                                                        map:'price * 1' |
                                                        sum
                                                    ) +
                                                    (
                                                        (instance.data.contract.elements | filter:{'element_name':'Acero inoxidable'}:true).length  > 0 ?
                                                        instance.data.contract.client.installation_fee * 1 :
                                                        0
                                                    ) +
                                                    instance.data.contract.client.monthly_fee * 1
                                                ) / 1.16 * .007 | currency:'$':2

                                            }}
                                        </td>
                                    </tr>
                                    <tr ng-if="instance.data.contract.client.charge_fee > 0">
                                        <td>Comisiones bancarias</td>
                                        <td></td>
                                        <td>{{instance.data.contract.client.charge_fee/100 | currency:'$':2}}</td>
                                    </tr>
                                    <tr ng-if="instance.data.contract.client.coupon != 0">
                                       <td>Cupón</td>
                                       <td>{{instance.data.contract.cupon.token}}</td>
                                       <td>- {{instance.data.contract.cupon.descuento | currency:'$':2}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table invoice-total">
                                <tbody>
                                    <tr>
                                        <td><strong>TOTAL :</strong></td>
                                        <td>
                                            {{
                                                instance.data.contract.client.deposit * 1 +
                                                (instance.data.contract.client.group.trial_days_price !== '0.00' ? instance.data.contract.client.group.trial_days_price:instance.data.contract.client.monthly_fee) * 1 +
                                                (
                                                    (instance.data.contract.elements | filter:{'element_name':'Acero inoxidable'}:true).length > 0 ?
                                                    instance.data.contract.client.installation_fee * 1 :
                                                    0
                                                ) +
                                                (
                                                    instance.data.contract.elements | filter:{'element_name':'!Acero inoxidable'}:true |
                                                    map:'price * 1' |
                                                    sum
                                                ) +
                                                (
                                                    instance.data.contract.client.social_responsability == 1 ?
                                                    (
                                                        (
                                                            (
                                                                instance.data.contract.elements | filter:{'element_name':'!Acero inoxidable'}:true |
                                                                map:'price * 1' |
                                                                sum
                                                            ) +
                                                            (
                                                                (instance.data.contract.elements | filter:{'element_name':'Acero inoxidable'}:true).length > 0 ?
                                                                instance.data.contract.client.installation_fee * 1 :
                                                                0
                                                            ) +
                                                            instance.data.contract.client.monthly_fee * 1
                                                        ) / 1.16 * .007
                                                    ) :
                                                    0
                                                ) +
                                                ( instance.data.contract.client.charge_fee > 0 ? 
                                                    instance.data.contract.client.charge_fee/100 : 0
                                                ) -
                                                ( instance.data.contract.client.coupon != 0 ? instance.data.contract.cupon.descuento:0)
                                                | currency:'$':2
                                            }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-7">
                            <tabset>
                                <tab>
                                    <tab-heading>Documentos</tab-heading>
                                    <carousel interval="0" no-wrap="true" no-transition="true">
                                        <slide ng-repeat="image in instance.data.contract.documents">
                                            <div class="carousel-caption">
                                            </div>
                                            <div class="parent" style="border:2px solid #ddd;">
                                                <div class="imagen panzoom" panzoom style="width:900px;height:700px;">
                                                    <img
                                                        class="rotar examen"
                                                        style="width:100%;height:100%;"
                                                        error-src
                                                        ng-src="{{image}}"
                                                        />
                                                </div>
                                            </div>
                                        </slide>
                                    </carousel>
                                    <div class="row" style="margin-top:10px;">
                                        <div class="col-md-12 text-center">
                                            <div class="btn-group">
                                                <button
                                                    type="button"
                                                    class="btn btn-info"
                                                    rotate-img
                                                    rotate-img-deg="-90"
                                                    rotate-img-target-selector=".carousel-inner .item.active img">
                                                    <i class="fa fa-undo fa-fw fa-lg"></i>
                                                    Rotar izquierda
                                                </button>
                                                <button
                                                    type="button"
                                                    class="btn btn-info"
                                                    rotate-img
                                                    rotate-img-deg="90"
                                                    rotate-img-target-selector=".carousel-inner .item.active img">
                                                    Rotar derecha
                                                    <i class="fa fa-repeat fa-fw fa-lg"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </tab>
                                <tab>
                                    <tab-heading>Fotografías</tab-heading>
                                    <carousel interval="0" no-wrap="true" no-transition="true">
                                        <slide ng-repeat="image in instance.data.contract.photos">
                                            <div class="carousel-caption">
                                            </div>
                                            <div class="parent" style="border:2px solid #ddd;">
                                                <div class="imagen panzoom" panzoom style="width:900px;height:700px;">
                                                    <img
                                                        class="rotar examen"
                                                        error-src
                                                        ng-src="{{image}}"
                                                        />
                                                </div>
                                            </div>
                                        </slide>
                                    </carousel>
                                    <div class="row" style="margin-top:10px;">
                                        <div class="col-md-12 text-center">
                                            <div class="btn-group">
                                                <button
                                                    type="button"
                                                    class="btn btn-info"
                                                    rotate-img
                                                    rotate-img-deg="-90"
                                                    rotate-img-parent-selector=".tab-pane"
                                                    rotate-img-target-selector=".carousel-inner .item.active img">
                                                    <i class="fa fa-undo fa-fw fa-lg"></i>
                                                    Rotar izquierda
                                                </button>
                                                <button
                                                    type="button"
                                                    class="btn btn-info"
                                                    rotate-img
                                                    rotate-img-deg="90"
                                                    rotate-img-parent-selector=".tab-pane"
                                                    rotate-img-target-selector=".carousel-inner .item.active img">
                                                    Rotar derecha
                                                    <i class="fa fa-repeat fa-fw fa-lg"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        <span
                                            ng-class="{
                                                'text-info': instance.data.cards.length > 0,
                                                'text-danger': instance.data.cards.length === 0
                                            }"
                                            >
                                            <i class="fa fa-credit-card-alt fa-fw fa-lg"></i> Datos de pago
                                        </span>
                                    </tab-heading>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Nombre tarjetahabiente</th>
                                                    <th>Fecha de alta</th>
                                                    <th>Expiración</th>
                                                    <th>Últimos 4 digitos</th>
                                                    <th>Marca</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="card in instance.data.cards" ng-class="{
                                                    'bg-success': card.default
                                                }">
                                                    <td>{{card.name}}</td>
                                                    <td>{{card.created_at * 1000 | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</td>
                                                    <td>{{card.exp_year}} / {{card.exp_month}}</td>
                                                    <td>{{card.last4}}</td>
                                                    <td>
                                                        <i class="fa fa-2x fa-lg fa-fw" ng-class="{
                                                            'fa-cc-mastercard text-success': card.brand === 'MC',
                                                            'fa-cc-amex text-success': card.brand === 'AMERICAN_EXPRESS',
                                                            'fa-cc-visa text-warning': card.brand === 'VISA'
                                                        }"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button
                                            class="btn btn-lg btn-info"
                                            ladda="instance.data.loading"
                                            data-style="zoom-in"
                                            data-spinner-color="#3e495f"
                                            data-spinner-size="20"
                                            ng-click="instance.collectFirstPayment(instance.data.client)"
											ng-disabled="instance.data.cards.length == 0 || instance.data.client.pay_day !== null"
										>
                                            <i class="fa fa-money fa-lg fa-fw"></i>Recolectar primer pago</a>
                                        </button>

                                        <button
                                                class="btn btn-lg btn-info"
                                                ladda="instance.data.loading"
                                                data-style="zoom-in"
                                                data-spinner-color="#3e495f"
                                                data-spinner-size="20"
                                                ng-click="instance.collectFirstPaymentOffline(instance.data.client)"
                                            >
                                            <i class="fa fa-money fa-lg fa-fw"></i>Recolectar primer pago por OXXO / SPEI
                                        </button>
                                        
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
	            </div>
	        </div>
		</div>
	</div>
</div>
