<style type="text/css">
    .h6 {
        font-size:10px;
    }
    .h5 {
        font-size:11px;
    }
    .clients-chain {
        white-space: nowrap;
    }
    .clients-chain [class*="col"]{
        display: inline-block;
    }
    #tree {
        overflow-x: scroll;
        border: 1px solid #DDD;
    }
    #node-info {
    }
    .more-info {
        color: #23b7e5;
    }
    #tree-root, #info{
        margin:15px 0px;
    }
    .text-white {
        color: #fff;
    }
    .node-attribute {margin-left:5px; cursor:pointer;}
    .angular-ui-tree-nodes .angular-ui-tree-nodes {
        padding-left: 16px;
    }
    .angular-ui-tree-node {
        border-left:1px solid #E7E7E7;
        padding-left: 3px;

    }
    .angular-ui-tree-handle {
        padding: 2px;
    }
    .angular-ui-tree-handle:hover {
        cursor: pointer;
    }
    .angular-ui-tree-placeholder {
    }
    .group-title {
        background-color: #687074 !important;
        color: #FFF !important;
    }
    .tree-node {
        padding: 2px;
    }

    .tree-node .btn {
        min-width: 22px;
        margin-right: 4px;
    }

    .tree-node-content {
        margin: 0px;
        display: inline-block;
    }

    .tree-handle {
        padding: 2px;
    }
    .clients-chain .h5 {
        font-size:15px;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" ng-click="instance.close()">
        <i class="fa fa-times fa-lg text-danger"></i>
    </button>
    <h3 class="modal-title">
        Contratos referidos del cliente {{instance.data.client.name}}
    </h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="animated fadeInDown">
                    <tabset>
                        <tab>
                            <tab-heading>Clientes</tab-heading>
                            <div class="table-responsive">
                                <table datatable="ng" dt-options="instance.data.dtOptions" dt-column-defs="instance.data.dtColumnDefs" class="table table-striped table-hover dataTables-example">
                                    <thead>
                                        <tr>
                                            <th colspan="6" style="border-right:1px solid #ddd">
                                                <h4 class="text-center">
                                                    Cliente
                                                </h4>
                                            </th>
                                            <th colspan="5">
                                                <h4 class="text-center">
                                                    Contrato
                                                </h4>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                Nombre
                                            </th>
                                            <th>
                                                Grupo
                                            </th>
                                            <th>
                                                Fecha de alta
                                            </th>
                                            <th>
                                                Nivel
                                            </th>
                                            <th>
                                                Email
                                            </th>
                                            <th style="border-right: 1px solid #ddd;">
                                                Estatus
                                            </th>
                                            <th>
                                                Suscripción
                                            </th>
                                            <th>
                                                Depósito
                                            </th>
                                            <th>
                                                Cuota de instalación
                                            </th>
                                            <th>
                                                Cuota mensual
                                            </th>
                                            <th>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="contract in instance.data.contracts" ng-init="contract.loading = false;">
                                            <td>
                                                {{contract.client.name}}<br/>
                                                <span class="h6" ng-switch on="client.rfc.length == 12 || client.rfc.length == 13">
                                                    <span ng-switch-when="true" class="text-info">Datos de facturación capturados</span>
                                                    <span ng-switch-when="false" class="text-warning">Datos de facturación no capturados</span>
                                                </span>
                                            </td>
                                            <td>
                                                {{contract.client.group.name}}
                                            </td>
                                            <td class="h5">
                                                {{contract.client.created_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}
                                            </td>
                                            <td>
                                                {{contract.client.level}}
                                            </td>
                                            <td>
                                                {{contract.client.email}}
                                            </td>
                                            <td style="border-right: 1px solid #ddd;">
                                                <span ng-switch on="contract.client.status">
                                                    <span class="label label-default" ng-switch-when="standby">
                                                        Pendiente
                                                    </span>
                                                    <span class="label label-warning" ng-switch-when="invalid">
                                                        Invalido
                                                    </span>
                                                    <span class="label label-info" ng-switch-when="accepted">
                                                        Aceptado
                                                    </span>
                                                    <span class="label label-danger" ng-switch-when="canceled">
                                                        Cancelado
                                                    </span>
                                                    <span class="label label-danger" ng-switch-when="rejected">
                                                        Rechazado
                                                    </span>
                                                </span>
                                            </td>
                                            <td class="h5" ng-switch="contract.client.subscription_status">
    		                                    <span ng-switch-when="null"     class="label label-default">Faltante</span>
    		                                    <span ng-switch-when="in_trial" class="label label-primary">Periodo de prueba</span>
    		                                    <span ng-switch-when="active"   class="label label-success">Activa</span>
    		                                    <span ng-switch-when="paused"   class="label label-info">Pausada</span>
    		                                    <span ng-switch-when="past_due" class="label label-warning">Fallando</span>
    		                                    <span ng-switch-when="canceled" class="label label-danger">Cancelada</span>
    	                                	</td>
                                            <td>
                                                {{contract.client.deposit | currency:'$':2}}
                                            </td>
                                            <td>
                                                {{contract.client.installation_fee | currency:'$':2}}
                                            </td>
                                            <td>
                                                {{contract.client.monthly_fee | currency:'$':2}}
                                            </td>
                                            <td>
                                                <div class="btn-group btn-group-xs" dropdown>
                                                    <button type="button" class="btn btn-primary" dropdown-toggle>
                                                        Opciones&nbsp;
                                                        <span class="fa fa-fw fa-caret-down">
                                                        </span>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="split-button">
                                                        <li role="menuitem">
                                                            <a href="" ng-click="instance.reviewImages(contract)">
                                                                <i class="fa fa-picture-o">
                                                                </i>
                                                                Ver documentos y fotos
                                                            </a>
                                                        </li>
                                                        <li role="menuitem">
                                                            <a href="" ng-click="instance.reviewPurchaseContract(contract.client)">
                                                                <i class="fa fa-file">
                                                                </i>
                                                                Ver contrato de compra
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </tab>
                        <tab>
                            <tab-heading>Cadena</tab-heading>
                            <div class="clients-chain">
                                <div class="col-md-8" id="tree">
                                    <script type="text/ng-template" id="nodes_renderer.html">
                                        <div ui-tree-handle data-nodrag class="tree-node tree-node-content">
                                            <span ng-click="toggle(this)">
                                                <i data-nodrag class="fa fa-lg" ng-class="{
                                                    'fa-angle-right text-info': node.nodes.length > 0 && collapsed,
                                                    'fa-angle-down text-info': node.nodes.length > 0 && !collapsed,
                                                    'fa-angle-right text-white': node.nodes.length === 0
                                                }"></i>
                                                <span class="node-attribute">
                                                    {{node.client.name}}
                                                </span>
                                                <span class="node-attribute badge">
                                                    {{node.nodes.length}} <i class="fa fa-fw fa-users"></i>
                                                </span>
                                                <span class="node-attribute" ng-switch on="node.client.status">
                                                    <span class="label label-default" ng-switch-when="standby">Pendiente</span>
                                                    <span class="label label-warning" ng-switch-when="invalid">Invalido</span>
                                                    <span class="label label-info" ng-switch-when="accepted">Aceptado</span>
                                                    <span class="label label-danger" ng-switch-when="canceled">Cancelado</span>
                                                    <span class="label label-danger" ng-switch-when="rejected">Rechazado</span>
                                                </span>
                                                <span class="node-attribute" ng-if="node.client.debt !== '0.00'">
                                                    <span class="label label-danger">{{(node.client.debt/100) | currency:'$':2}}</span>
                                                </span>
                                            </div>
                                            <span class="node-attribute">
                                                <i class="fa fa-info-circle" ng-class="{
                                                    'text-success fa-lg': node.client === instance.data.selectedNode,
                                                    'text-muted': node.client !== instance.data.selectedNode
                                                }" ng-click="instance.changeSelectedNode(node.client)"></i><!--text-muted-->
                                            </span>
                                        </span>
                                        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                                            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                                            </li>
                                        </ol>
                                    </script>
                                    <div ui-tree id="tree-root">
                                        <ol ui-tree-nodes ng-model="instance.data.hierarchicalTree">
                                            <li ng-repeat="node in instance.data.hierarchicalTree" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="col-md-4" id="node-info">
                                    <dl class="dl-horizontal h5" id="info">
                                        <dt>Nombre</dt>
                                        <dd ng-switch on="instance.data.selectedNode.name.trim() === ''">
                                            <span ng-switch-when="true"><b>No proporcionado</b></span>
                                            <span ng-switch-when="false">{{instance.data.selectedNode.name}}</span>
                                        </dd>
                                        <dt>Nivel</dt>
                                        <dd ng-switch on="instance.data.selectedNode.name.trim() === ''">
                                            <span ng-switch-when="true"><b>No proporcionado</b></span>
                                            <span ng-switch-when="false">{{instance.data.selectedNode.level}}</span>
                                        </dd>
                                        <dt>Email</dt>
                                        <dd ng-switch on="instance.data.selectedNode.email.trim() === ''">
                                            <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                            <span ng-switch-when="false">{{instance.data.selectedNode.email}}</span>
                                        </dd>
                                        <dt>Teléfono</dt>
                                        <dd ng-switch on="instance.data.selectedNode.phone.trim() === ''">
                                            <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                            <span ng-switch-when="false">{{instance.data.selectedNode.phone}}</span>
                                        </dd>
                                        <dt>Dirección</dt>
                                        <dd ng-switch on="instance.data.selectedNode.address.trim() === ''">
                                            <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                            <span ng-switch-when="false">{{instance.data.selectedNode.address}}</span>
                                        </dd>
                                        <dt>Entre</dt>
                                        <dd ng-switch on="instance.data.selectedNode.between_streets.trim() === ''">
                                            <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                            <span ng-switch-when="false">{{instance.data.selectedNode.between_streets}}</span>
                                        </dd>
                                        <dt>Colonia</dt>
                                        <dd ng-switch on="instance.data.selectedNode.colony.trim() === ''">
                                            <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                            <span ng-switch-when="false">{{instance.data.selectedNode.colony}}</span>
                                        </dd>
                                        <dt>Código postal</dt>
                                        <dd ng-switch on="instance.data.selectedNode.postal_code.trim() === ''">
                                            <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                            <span ng-switch-when="false">{{instance.data.selectedNode.postal_code}}</span>
                                        </dd>
                                        <dt>Estado</dt>
                                        <dd ng-switch on="instance.data.selectedNode.state.trim() === ''">
                                            <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                            <span ng-switch-when="false">{{instance.data.selectedNode.state}}</span>
                                        </dd>
                                        <dt>Status</dt>
                                        <dd>
                                            <span ng-switch on="instance.data.selectedNode.status">
                                                <span class="label label-default" ng-switch-when="standby">Pendiente</span>
                                                <span class="label label-warning" ng-switch-when="invalid">Invalido</span>
                                                <span class="label label-info" ng-switch-when="accepted">Aceptado</span>
                                                <span class="label label-danger" ng-switch-when="canceled">Cancelado</span>
                                                <span class="label label-danger" ng-switch-when="rejected">Rechazado</span>
                                            </span>
                                        </dd>
                                        <dt>Nivel</dt>
                                        <dd>{{instance.data.selectedNode.level}}</dd>
                                        <dt>Clientes</dt>
                                        <dd>{{(instance.data.selectedNode.clients | toArray).length}}</dd>
                                    </dl>
                                </div>
                            </div>
                        </tab>
                        <tab ng-if="instance.data.commissions.level_1">
                            <tab-heading>Comisiones</tab-heading>
                            <div class="row">
                                <div class="col-md-6">

                                    <h3>¿Ha realizado alguna nueva inscripción en los últimos 3 meses?:
                                        <strong class="text-success" ng-if="instance.data.commissions.isActive">SI</strong>
                                        <strong class="text-danger" ng-if="!instance.data.commissions.isActive">NO</strong>
                                    </h3>
                                    <p>Para que los clientes se consideren <strong>válidos</strong> es necesario que cumplan con los siguientes:</p>
                                    <ul>
                                        <li>Que su estatus sea "aceptado".</li>
                                        <li>Que no estén cancelados.</li>
                                        <li>Que estén al día en su pagos.</li>
                                        <li>Que no presenten ninguna deuda activa.</li>
                                    </ul>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Nivel</th>
                                                    <th>Clientes válidos</th>
                                                    <th>Comisión</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-if="instance.data.commissions.level_1.count > 0">
                                                    <td>Aguagratis</td>
                                                    <td>6</td>
                                                    <td>$ 0</td>
                                                </tr>
                                                <tr ng-if="instance.data.commissions.level_1">
                                                    <td>Nivel 1</td>
                                                    <td>{{instance.data.commissions.level_1.count}}</td>
                                                    <td>$ {{instance.data.commissions.level_1.comission}}</td>
                                                </tr>
                                                <tr ng-if="instance.data.commissions.level_2">
                                                    <td>Nivel 2</td>
                                                    <td>{{instance.data.commissions.level_2.count}}</td>
                                                    <td>$ {{instance.data.commissions.level_2.comission}}</td>
                                                </tr>
                                                <tr ng-if="instance.data.commissions.level_3">
                                                    <td>Nivel 3</td>
                                                    <td>{{instance.data.commissions.level_3.count}}</td>
                                                    <td>$ {{instance.data.commissions.level_3.comission}}</td>
                                                </tr>
                                                <tr ng-if="instance.data.commissions.level_4">
                                                    <td>Nivel 4</td>
                                                    <td>{{instance.data.commissions.level_4.count}}</td>
                                                    <td>$ {{instance.data.commissions.level_4.comission}}</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="2" class="text-right">
                                                        <h2><strong>TOTAL:</strong></h2>
                                                    </td>
                                                    <td>
                                                        <h2><strong>{{instance.data.commissions.level_1.comission + instance.data.commissions.level_2.comission + instance.data.commissions.level_3.comission
                                                        + instance.data.commissions.level_4.comission | currency:"$ ":0}}</strong></h2>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            
                        </tab>
                        <tab ng-if="instance.data.loosingComissions.level_1">
                            <tab-heading>Comisiones Máximas</tab-heading>
                            <div class="row">
                                <div class="col-md-6">
                        
                                    <h3>Comisiones si fueras CAPITAN</h3>
                                    <p>Para que los clientes se consideren
                                        <strong>válidos</strong> es necesario que cumplan con los siguientes:</p>
                                    <ul>
                                        <li>Que su estatus sea "aceptado".</li>
                                        <li>Que no estén cancelados.</li>
                                        <li>Que estén al día en su pagos.</li>
                                        <li>Que no presenten ninguna deuda activa.</li>
                                    </ul>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Nivel</th>
                                                    <th>Clientes válidos</th>
                                                    <th>Comisión</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-if="instance.data.loosingComissions.level_1.count > 0">
                                                    <td>Aguagratis</td>
                                                    <td>6</td>
                                                    <td>$ 0</td>
                                                </tr>
                                                <tr ng-if="instance.data.loosingComissions.level_1">
                                                    <td>Nivel 1</td>
                                                    <td>{{instance.data.loosingComissions.level_1.count}}</td>
                                                    <td>$ {{instance.data.loosingComissions.level_1.comission}}</td>
                                                </tr>
                                                <tr ng-if="instance.data.loosingComissions.level_2">
                                                    <td>Nivel 2</td>
                                                    <td>{{instance.data.loosingComissions.level_2.count}}</td>
                                                    <td>$ {{instance.data.loosingComissions.level_2.comission}}</td>
                                                </tr>
                                                <tr ng-if="instance.data.loosingComissions.level_3">
                                                    <td>Nivel 3</td>
                                                    <td>{{instance.data.loosingComissions.level_3.count}}</td>
                                                    <td>$ {{instance.data.loosingComissions.level_3.comission}}</td>
                                                </tr>
                                                <tr ng-if="instance.data.loosingComissions.level_4">
                                                    <td>Nivel 4</td>
                                                    <td>{{instance.data.loosingComissions.level_4.count}}</td>
                                                    <td>$ {{instance.data.loosingComissions.level_4.comission}}</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="2" class="text-right">
                                                        <h2>
                                                            <strong>TOTAL:</strong>
                                                        </h2>
                                                    </td>
                                                    <td>
                                                        <h2>
                                                            <strong>{{instance.data.loosingComissions.level_1.comission + instance.data.loosingComissions.level_2.comission
                                                                + instance.data.loosingComissions.level_3.comission + instance.data.loosingComissions.level_4.comission
                                                                | currency:"$ ":0}}</strong>
                                                        </h2>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                        
                                </div>
                            </div>
                        
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="instance.close()">
        Cancelar
    </button>
</div>
