<div class="modal-header">
	<button type="button" class="close" ng-click="instance.close()"><i class="fa fa-times fa-lg text-danger"></i></button>
  	<h3 class="modal-title">Historial de cargos del cliente {{instance.data.client.name}}</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-lg-12">
			<div class="wrapper wrapper-content">
	            <div class="animated fadeInDown">
                    <div class="table-responsive">
                        <table datatable="ng" dt-options="instance.data.dtOptions" dt-column-defs="instance.data.dtColumnDefs" class="table table-striped table-hover dataTables-example">
                            <thead>
                                <th>Descripción</th>
                                <th>Nota de credito</th>
                                <th>Fecha de pago</th>
                                <th>Cantidad</th>
                                <th></th>
                                <th class="hidden"></th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="charge in instance.data.charges" toggle-childs>
                                    <td>
                                        {{charge.description}}<br/>
                                        <span ng-if="charge.refunded_at != null" class="text-danger">
                                            Se efectuó devolución el {{charge.refunded_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}
                                        </span>
                                    </td>
                                    <td ng-switch on="charge.invoice_status">
                                        <label class="label label-info" ng-switch-when="invoiced">Facturado</label>
                                        <label class="label label-warning" ng-switch-when="missing">Pendiente</label>
                                        <label class="label label-danger" ng-switch-when="failed">Falló</label>
                                    </td>
                                    <td>{{charge.paid_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</td>
                                    <td>{{charge.amount | currency:'$':2}}</td>
                                    <td>
										<button class="btn btn-sm btn-info showChilds"><i class="fa fa-list fa-fw m-r-sm"></i>Devoluciones</button>
										<button class="btn btn-sm btn-success" ng-click="instance.refund(charge)"><i class="fa fa-reply fa-fw m-r-sm"></i>Efectuar devolución</button>
									</td>
									<td colspan="6" class="hidden childs" style="background-color: #ddd;padding:10px;">
				                        <div class="panel panel-default">
				                            <div class="panel-heading">
				                                <h4>Devoluciones</h4>
				                            </div>
				                            <table class="table table-condensed table-bordered">
				                                <thead>
				                                    <tr>
				                                        <th>Cantidad</th>
				                                        <th>Fecha de devolución</th>
				                                    </tr>
				                                </thead>
				                                <tbody>
				                                    <tr ng-repeat="refund in charge.refunds">
				                                        <td>{{refund.amount | currency:'$':2}}</td>
				                                        <td>{{refund.created_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</td>
				                                    </tr>
				                                </tbody>
				                            </table>
				                        </div>
				                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
	            </div>
	        </div>
		</div>
	</div>
</div>
