<div class="modal-header">
	<button type="button" class="close" ng-click="instance.close()"><i class="fa fa-times fa-lg text-danger"></i></button>
  	<h3 class="modal-title">Pago por OXXO / SPEI</h3>
</div>
<div class="modal-body">
	<div class="row" style="margin-top:20px;">
    	<form class="form-horizontal" name="addGroupForm" novalidate>
            <h3>Cargos</h3>
            <div ng-if="instance.data.user.debt > 0">
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">Deuda</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" value="{{instance.data.user.debt/100 | currency}}" disabled>
                    </div>
                </div>
            </div>

            <div ng-if="instance.data.user.debt < 10000">
                <div class="form-group" ng-class="{'has-error': addGroupForm.months_ahead.$invalid && addGroupForm.$dirty}">
                    <label for="name" class="col-sm-3 control-label">Pagar X meses por adelantado</label>
                    <div class="col-sm-7">
                        <select class="form-control" name="months_ahead" ng-model="instance.data.months_ahead" required>
                            <option value="">Seleccione una opción...</option>
                            <option value="1">1</option>
                            <option value="3">3</option>
                            <option value="6">6</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                </div>
            </div>

            <div>
                <div class="form-group" ng-class="{'has-error': addGroupForm.type.$invalid && addGroupForm.$dirty}">
                    <label class="col-sm-3 control-label">Tipo de págo</label>
                    <div class="col-sm-7">
                        <select class="form-control" name="type" ng-model="instance.data.type" required>
                            <option value="">Seleccione una opción...</option>
                            <option value="oxxo">OXXO</option>
                            <option value="spei">SPEI</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="hr-line-dashed"></div>
            <h3>TOTAL</h3>
            <div class="row">
                <div class="col-sm-5 col-sm-offset-4">
                    <dl class="dl-horizontal">
                        <div ng-if="instance.data.isFirstCharge">
                            <dt>Instalación</dt>
                            <dd>{{instance.data.isFirstCharge | currency:'$':2}}</dd>
                        </div>
                        <div ng-if="instance.data.user.debt > 0">
                            <dt>Deuda</dt>
                            <dd>{{instance.data.user.debt/100 | currency:'$':2}}</dd>
                            <dt>Cuota de administración</dt>
                            <dd>$100.00</dd>
                            <dt>Total</dt>
                            <dd>{{(instance.data.user.debt/100)+100 | currency:'$':2}}</dd>
                        </div>
                        <div ng-if="instance.data.user.debt < 1">
                            <dt>Cuota mensual</dt>
                            <dd>{{instance.data.user.monthly_fee | currency:'$':2}}</dd>
                            <div ng-if="instance.data.user.social_responsability == 1">
                                <dt>Responsabilidad Social</dt>
                                <dd>{{(instance.data.user.monthly_fee/1.16)*.007 | currency:'$':2}}</dd>
                            </div>
                            <dt>Cuota de administración</dt>
                            <dd>$100.00</dd>
                            <dt>Total</dt>
                            <dd>{{instance.calculateTotal(instance.data.user, instance.data.months_ahead, instance.data.isFirstCharge) | currency:'$':2}}</dd>
                        </div>
                    </dl>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-primary" type="button" ladda="instance.data.loading" data-style="zoom-in" data-spinner-color="#3e495f" data-spinner-size="20" ng-if="(instance.data.months_ahead > 0 || instance.data.user.debt > 0)" ng-click="instance.save(addGroupForm)">
                    	<i class="fa fa-floppy-o fa-fw"></i>
                    	Generar Referencia
                	</button>
                </div>
            </div>
        </form>
	</div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="instance.close()">Cancelar</button>
</div>
