<div class="modal-header">
	<button type="button" class="close" ng-click="instance.close()"><i class="fa fa-times fa-lg text-danger"></i></button>
  	<h3 class="modal-title">Clientes Rechazados para el Cálculo de la comisión</h3>
</div>
<div class="modal-body">
	<div class="row" style="margin-top:20px;">
		<div class="col-md-10">
			<table class="table table-condensed" ng-repeat="(level, info) in instance.data.commission">
				<thead>
					<tr>
						<th colspan="3" ng-switch="level">
							<h2>
								<span ng-switch-when="level_1">MARINERO (Nivel 1)</span>
								<span ng-switch-when="level_2">CABO (Nivel 2)</span>
								<span ng-switch-when="level_3">CAPITAN (Nivel 3)</span>
								<span ng-switch-when="level_4">ALMIRANTE (Nivel 4)</span>
							</h2>
						</th>
					</tr>
					<tr>
						<th class="col-xs-8">Nombre</th>
						<th class="col-xs-2">Estatus</th>
						<th class="col-xs-2">Deuda</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(key, value) in info">
						<td>{{value.name}}</td>
						<td ng-switch="value.status">
							<span class="label label-default" ng-switch-when="standby">Pendiente</span>
							<span class="label label-warning" ng-switch-when="invalid">Invalido</span>
							<span class="label label-info" ng-switch-when="accepted">Aceptado</span>
							<span class="label label-danger" ng-switch-when="canceled">Cancelado</span>
							<span class="label label-danger" ng-switch-when="rejected">Rechazado</span>
						</td>
						<td>{{(value.debt == 0 ? value.debt : value.debt / 100)  | currency:'$':2}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-danger" ng-click="instance.close()">Cancelar</button>
</div>
