<div class="modal-header">
	<button type="button" class="close" ng-click="instance.close()"><i class="fa fa-times fa-lg text-danger"></i></button>
  	<h3 class="modal-title">Categoría</h3>
</div>
<div class="modal-body">
	<div class="row" style="margin-top:20px;">
		<form class="form-horizontal" name="categoryForm" id="categoryForm" novalidate>
			<div class="col-md-12">
				<div class="form-group" show-errors='{showSuccess: true}'>
					<label for="elementName" class="col-sm-3 control-label">Nombre</label>
					<div class="col-sm-7">
						<input 
							type="text" 
							id="elementName" 
							name="elementName" 
							class="form-control" 
							rows="5"
							ng-model="instance.data.category.name"
							required />
						<p class="help-block" ng-if="categoryForm.elementName.$error.required">El nombre es requerido</p>
					</div>
				</div>
				<div class="form-group" show-errors='{showSuccess: true}'>
					<label for="elementDescription" class="col-sm-3 control-label">Descripción</label>
					<div class="col-sm-7">
						<textarea 
							id="elementDescription" 
							name="elementDescription" 
							class="form-control" 
							rows="5"
							ng-model="instance.data.category.description"
							required>
						</textarea>
						<p class="help-block" ng-if="categoryForm.elementDescription.$error.required">La descripción es requerida</p>
					</div>
				</div>
				<div class="form-group">
					<label for="buscar" class="col-sm-3 control-label">&nbsp;</label>
					<div class="col-sm-7">
						<button 
							type="button" 
							class="btn btn-info" 
							style="border-radius:0px;" 
							ladda="instance.data.loading" 
							data-style="zoom-in" 
							data-spinner-color="#3e495f" 
							data-spinner-size="20"
							ng-click="instance.save(categoryForm, instance.data.category)">
							<i class="fa fa-search fa-lg fa-fw"></i>&nbsp; Guardar categoría
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="instance.close()">Cancelar</button>
</div>