<div class="modal-header">
	<button type="button" class="close" ng-click="instance.close()"><i class="fa fa-times fa-lg text-danger"></i></button>
  	<h3 class="modal-title">Elemento de la categoria {{instance.data.category.description}}</h3>
</div>
<div class="modal-body">
	<div class="row" style="margin-top:20px;">
		<form class="form-horizontal" name="elementForm" id="elementForm" enctype='multipart/form-data' novalidate>
			<div class="col-md-12">
				<div class="form-group" show-errors='{showSuccess: true}'>
					<label for="elementName" class="col-sm-3 control-label">Nombre</label>
					<div class="col-sm-7">
						<input 
							type="text" 
							id="elementName" 
							name="elementName" 
							class="form-control" 
							ng-model="instance.data.element.name"
							required/>
						<p class="help-block" ng-if="elementForm.elementName.$error.required">El nombre es requerido</p>
					</div>
				</div>
				<div class="form-group" show-errors='{showSuccess: true}'>
					<label for="elementPrice" class="col-sm-3 control-label">Precio</label>
					<div class="col-sm-7">
						<div class="input-group m-b">
							<span class="input-group-addon">$</span> 
							<input 
								type="number" 
								id="elementPrice" 
								name="elementPrice" 
								class="form-control" 
								ng-model="instance.data.element.price"
								required/>
                    	</div>
						<p class="help-block" ng-if="elementForm.elementPrice.$error.required">El precio es requerido</p>
					</div>
				</div>
				<div class="form-group">
					<label for="elementPrice" class="col-sm-3 control-label">Imagen</label>
					<div class="col-sm-7">
						<canvas id="element-image" style="width:100%;overflow: scroll;"></canvas>
						<div class="btn-group">	
							<span class="btn btn-primary btn-file fa fa-picture-o">
								Selecciona foto
								<input id="input_element_image" type="file" name="elementImage" id="elementImage" file-model="instance.data.element.image" onchange="angular.element(this).scope().instance.previewImage(this)" />
							</span>
							<span class="btn btn-warning btn-file fa fa-times" ng-click="instance.removeImage()">Eliminar foto</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="buscar" class="col-sm-3 control-label">&nbsp;</label>
					<div class="col-sm-7">
						<button type="button" 
							class="btn btn-info" 
							style="border-radius:0px;" 
							ladda="instance.data.loading" 
							data-style="zoom-in" 
							data-spinner-color="#3e495f" 
							data-spinner-size="20" 
							ng-click="instance.save(elementForm, instance.data.element)">
							<i class="fa fa-search fa-lg fa-fw"></i>&nbsp; Guardar elemento
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="instance.close()">Cancelar</button>
</div>