<style>
    .timeline-item .date-event {
        text-align: right;
        position: relative;
        padding-top: 30px;
    }
    .lightBoxGallery {
        margin-bottom: 15px;
    }
    .lightBoxGallery img{
        width: 140px;
        height: 140px;
        margin:5px;
    }
    .technician-img {
        margin-top:5px;
    }
</style>
<div class="modal-header">
	<button type="button" class="close" ng-click="instance.close()"><i class="fa fa-times fa-lg text-danger"></i></button>
  	<h3 class="modal-title">Historial del ticket {{instance.data.ticket.id_tickets}} del cliente {{instance.data.ticket.client.name}}</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-lg-12">
			<div class="wrapper wrapper-content">
	            <div class="animated fadeInDown">
                    <div class="inspinia-timeline">
                        <div class="timeline-item" ng-repeat="event in instance.data.history | orderBy:'created_at':true">
                            <div class="row">
                                <div class="col-md-2 date-event">
                                    {{event.created_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}
                                    <br>
                                    <small class="text-navy">hace {{instance.dateDiff(event.created_at)}}</small>
                                </div>
                                <div class="col-md-10 content" ng-class="{'no-top-border': $first}">
                                    <p class="m-b-xs">
                                        <span class="label label-info" ng-if="event.hasOwnProperty('closed')">Cerrado</span>
                                        <span class="label label-success" ng-if="event.hasOwnProperty('id_confirmations')">Firmado por el cliente</span>
                                        <span class="label label-success" ng-if="event.hasOwnProperty('id_completions') && event.hasOwnProperty('id_assignations')"">Completado por el técnico</span>
                                        <span class="label label-warning" ng-if="event.hasOwnProperty('id_assignations') && !event.hasOwnProperty('id_completions')">Asignado</span>
                                        <span class="label label-danger" ng-if="event.hasOwnProperty('created')">Abierto</span>
                                    </p>
                                    <div ng-if="event.hasOwnProperty('closed')">
                                        <dl class="dl-horizontal">
                                            <dt>Cerrado por</dt>
                                            <dd>{{event.closed_by.name}} <i class="fa fa-fw fa-envelope fa-lg"></i> {{event.closed_by.email}}</dd>
                                            <dt>Costo final del servicio</dt>
                                            <dd>{{event.final_service_fee | currency:'$':2}}</dd>
                                            <dt>Razones</dt>
                                            <dd>{{event.final_service_fee_reasons}}</dd>
                                        </dl>
                                    </div>
                                    <div ng-if="event.hasOwnProperty('id_confirmations')">
                                        <dl>
                                            <dt>Comentarios del cliente</dt>
                                            <dd>{{event.client_comments}}</dd>
                                        </dl>
                                    </div>
                                    <div ng-if="event.hasOwnProperty('id_completions') && event.hasOwnProperty('id_assignations')">
                                        <dl ng-if="event.serial_number !== null">
                                            <dt>Número de serie</dt>
                                            <dd>{{event.serial_number}}</dd>
                                        </dl>
                                        <dl>
                                            <dt>Persona que recibió al técnico</dt>
                                            <dd>{{event.recipient}}</dd>
                                            <dt>Acciones realizadas</dt>
                                            <dd>{{event.work_description}}</dd>
                                            <dt>Cargos extras</dt>
                                            <dd>{{event.extra_charges | currency:'$':2}}</dd>
                                            <dt>Motivos</dt>
                                            <dd>{{event.extra_charges_reasons}}</dd>
                                            <dt>Código de error</dt>
                                            <dd>
                                                <b class="text-warning" ng-if="instance.data.ticket.error_code.id_error_codes !== event.error_code.id_error_codes">(Nuevo)</b>
                                                <b class="text-info" ng-if="instance.data.ticket.error_code.id_error_codes === event.error_code.id_error_codes">(Mismo que el original)</b>
                                                {{event.error_code.category}} - {{event.error_code.name}} - {{event.error_code.code}}
                                            </dd>
                                            <dt>Partes usadas</dt>
                                            <dd>
                                                <ul>
                                                    <li ng-repeat="part in event.used_parts.split(',')">{{part}}</li>
                                                </ul>
                                            </dd>
                                            <dt>TDS entrada</dt>
                                            <dd>{{event.tds_in}}</dd>
                                            <dt>TDS salida</dt>
                                            <dd>{{event.tds_out}}</dd>
                                        </dl>
                                        <dl>
                                            <dt>Ubicación del técnico al completar el formulario</dt>
                                            <dd>
                                                <div ng-switch on="event.latitude !== 'null'">
                                                    <h1 ng-switch-when="false" class="text-danger"><b>No se pudo acceder a la ubicación del técnico al momento que completó el formulario</b></h1>
                                                    <div ng-switch-when="true" class="lightBoxGallery">
                                                        <a href="{{event.map_url}}" data-gallery="">
                                                            <img class="img-thumbnail" ng-src="{{event.map_url}}" style="width:100%;"> 
                                                        </a>
                                                    </div>
                                                </div>
                                            </dd>
                                            <dt>Fotografías del técnico</dt>
                                            <dd>
                                                <div class="lightBoxGallery" data-use-bootstrap-modal="false">
                                                    <a href="{{photo}}" data-gallery="" ng-repeat="photo in event.photos">
                                                        <img class="img-rounded" ng-src="{{photo}}"> 
                                                    </a>
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div ng-if="event.hasOwnProperty('id_assignations') && !event.hasOwnProperty('id_completions')">
                                        <dl style="margin-bottom:0px;">
                                            <dt>Técnico</dt>
                                            <dd>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <img class="img-rounded technician-img" style="width:100%;" ng-src="{{event.technician.imageSrc}}">
                                                    </div>
                                                    <div class="col-md-10">
                                                        <i class="fa fa-fw fa-lg fa-user"></i>{{event.technician.name}}<br/>
                                                        <i class="fa fa-fw fa-lg fa-phone"></i> {{event.technician.phone}}<br/>
                                                        <i class="fa fa-fw fa-lg fa-envelope"></i> {{event.technician.email}}
                                                    </div>
                                                </div>
                                            </dd>
                                            <dt>Detalles</dt>
                                            <dd>{{event.details}}</dd>
                                        </dl>
                                    </div>
                                    <div ng-if="event.hasOwnProperty('created')">
                                        <dl class="dl-horizontal">
                                            <dt>Tipo</dt>
                                            <dd ng-switch on="event.type">
                                                <span ng-switch-when="installation">Instalación</span>
                                                <span ng-switch-when="service_call">Llamada de soporte</span>
                                                <span ng-switch-when="filter_change">Cambio de filtro</span>
                                                <span ng-switch-when="removal">Desinstalación</span>
                                                <span ng-switch-when="change">Cambio de dirección del cliente</span>
                                            </dd>
                                            <dt>Descripción</dt>
                                            <dd>{{event.description}}</dd>
                                            <dt>Costo estimado</dt>
                                            <dd>{{event.estimated_service_fee | currency:'$':2}}</dd>
                                            <dt>Razones</dt>
                                            <dd>{{event.estimated_service_fee_reasons}}</dd>
                                            <dt>Código de error</dt>
                                            <dd>{{event.error_code.category}} - {{event.error_code.name}} - {{event.error_code.code}}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
	            </div>
	        </div>
		</div>
	</div>
</div>
