<div class="modal-header">
	<button type="button" class="close" ng-click="instance.close()"><i class="fa fa-times fa-lg text-danger"></i></button>
  	<h3 class="modal-title">Códigos de error</h3>
</div>
<div class="modal-body">
	<div class="row" style="margin-top:20px;">
    	<form class="form-horizontal" name="addErrorCodeForm" novalidate>
            <div class="form-group" show-errors='{showSuccess: true}'>
                <label class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-6">
                    <input type="text"
                           id="name"
                           name="name" 
                           class="form-control"
                           ng-model="instance.data.errorCode.name"
                           required>
                    <p class="help-block" ng-if="addErrorCodeForm.name.$error.required">El nombre es requerido</p>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group" show-errors='{showSuccess: true}'>
            	<label class="col-sm-2 control-label">Categoría</label>
                <div class="col-sm-6">
                	<select 
                        class="form-control" 
                        id="category" 
                        name="category" 
                        ng-model="instance.data.errorCode.category"
                        required>
                        <option value="">-- Selecciona una categoría --</option>
                        <option ng-repeat="category in instance.data.categories">{{category}}</option>
                    </select>
                    <p class="help-block" ng-if="addErrorCodeForm.category.$error.required">La categoría es requerida</p></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group" show-errors='{showSuccess: true}'>
                <label class="col-sm-2 control-label">Código</label>
                <div class="col-sm-6">
                    <input type="text"
                           id="code"
                           name="code" 
                           class="form-control" 
                           ng-model="instance.data.errorCode.code"
                           required>
                    <p class="help-block" ng-if="addErrorCodeForm.code.$error.required">El código es requerido</p>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button 
                        type="button" 
                        class="btn btn-primary" 
                        ladda="instance.data.loading" 
                        data-style="zoom-in" 
                        data-spinner-color="#3e495f" 
                        data-spinner-size="20" 
                        ng-click="instance.save(addErrorCodeForm, instance.data.errorCode)">
                    	<i class="fa fa-floppy-o fa-fw"></i> 
                    	Guardar
                	</button>
                </div>
            </div>
        </form>
	</div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="instance.close()">Cancelar</button>
</div>