<style>
    .fa-10x {
        font-size: 70px;
    }
    .widget-head-color-box {
        margin-top: 0px;
    }
    .my-drop-zone { 
        border: dotted 3px lightgray; 
    }
    .nv-file-over { 
        border: dotted 3px red; 
    }
    .well-lg {
        padding: 60px 20px;
        font-weight: 100;
    }
    canvas {
        background-color: #f3f3f3;
        -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
        -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
        box-shadow: 3px 3px 3px 0 #e3e3e3;
        border: 1px solid #c3c3c3;
        margin: 6px 0px;
        height: 150px;
        max-width: 100%;
    }
    input[type="file"] {
        display: none;
    }
</style>
<div class="container-fluid" style="padding: 100px 20px 20px 20px;">
    <div class="animated fadeInDown">
        <div class="row" ng-switch on="data.finishedJob">
            <div class="col-md-12" ng-switch-when="false">
                <div class="ibox-content">
                    <h1 class="font-bold">Finalización de servicio al ticket #{{data.assignation.id_tickets}}</h1>
                    <p>Para finalizar tu trabajo favor de completar el siguiente formulario</p>
                    <!-- ticket data -->
                    <div class="row">
                        <div class="col-md-5">
                            <h2>Tus Datos</h2>
                            <div class="widget-head-color-box navy-bg p-lg text-center">
                                <div class="m-b-md">
                                    <h2 class="font-bold no-margins">{{data.assignation.technician.name}}</h2>
                                    <small>Contractor: {{data.assignation.technician.contractor}}</small>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-4">
                                        <img ng-src="{{data.assignation.technician.imageSrc}}" class="img-circle circle-border m-b-md" style="width:100%;">
                                    </div>
                                </div>
                                <div>
                                    <p class="h4">
                                        <i class="fa fa-envelope fa-lg fa-fw"></i>{{data.assignation.technician.email}}
                                    </p>
                                    <p class="h4">
                                        <i class="fa fa-phone fa-lg fa-fw"></i>{{data.assignation.technician.phone}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2>Datos del ticket</h2>
                                    <dl class="dl-horizontal">
                                        <dt>Descripción</dt>
                                        <dd>{{data.assignation.ticket.description}}</dd>
                                        <dt>Tipo</dt>
                                            <dd ng-switch on="data.assignation.ticket.type">
                                                <span ng-switch-when="installation">Instalación</span>
                                                <span ng-switch-when="service_call">Llamada de soporte</span>
                                                <span ng-switch-when="filter_change">Cambio de filtro</span>
                                                <span ng-switch-when="removal">Desinstalación</span>
                                                <span ng-switch-when="change">Cambio de dirección del cliente</span>
                                            </dd>
                                        <dt>Costo estimado</dt>
                                        <dd>{{data.assignation.ticket.estimated_service_fee | currency:'$':2}}</dd>
                                        <dt>Razones</dt>
                                        <dd>{{data.assignation.ticket.estimated_service_fee_reasons}}</dd>
                                        <dt>Código de error</dt>
                                        <dd>{{data.assignation.ticket.error_code.category}} - {{data.assignation.ticket.error_code.name}} - {{data.assignation.ticket.error_code.code}}</dd>
                                    </dl>
                                </div>
                                <div class="col-md-6">
                                    <h2>Datos del cliente</h2>
                                    <dl class="dl-horizontal">
                                        <dt>Nombre</dt>
                                        <dd ng-switch on="data.assignation.ticket.client.name.trim() === ''">
                                            <span ng-switch-when="true"><b>No proporcionado</b></span>
                                            <span ng-switch-when="false">{{data.assignation.ticket.client.name}}</span>
                                        </dd>
                                        <dt>Fecha de alta</dt>
                                        <dd>{{data.assignation.ticket.client.created_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</dd>
                                        <dt>Email</dt>
                                        <dd ng-switch on="data.assignation.ticket.client.email.trim() === ''">
                                            <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                            <span ng-switch-when="false">{{data.assignation.ticket.client.email}}</span>
                                        </dd>
                                        <dt>Teléfono</dt>
                                        <dd ng-switch on="data.assignation.ticket.client.phone.trim() === ''">
                                            <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                            <span ng-switch-when="false">{{data.assignation.ticket.client.phone}}</span>
                                        </dd>
                                        <dt>Dirección</dt>
                                        <dd ng-switch on="data.assignation.ticket.client.address.trim() === ''">
                                            <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                            <span ng-switch-when="false">{{data.assignation.ticket.client.address}}</span>
                                        </dd>
                                        <dt>Entre</dt>
                                        <dd ng-switch on="data.assignation.ticket.client.between_streets.trim() === ''">
                                            <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                            <span ng-switch-when="false">{{data.assignation.ticket.client.between_streets}}</span>
                                        </dd>
                                        <dt>Colonia</dt>
                                        <dd ng-switch on="data.assignation.ticket.client.colony.trim() === ''">
                                            <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                            <span ng-switch-when="false">{{data.assignation.ticket.client.colony}}</span>
                                        </dd>
                                        <dt>Código postal</dt>
                                        <dd ng-switch on="data.assignation.ticket.client.postal_code.trim() === ''">
                                            <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                            <span ng-switch-when="false">{{data.assignation.ticket.client.postal_code}}</span>
                                        </dd>
                                        <dt>Estado</dt>
                                        <dd ng-switch on="data.assignation.ticket.client.state.trim() === ''">
                                            <span ng-switch-when="true"><b class="text-danger">No proporcionado</b></span>
                                            <span ng-switch-when="false">{{data.assignation.ticket.client.state}}</span>
                                        </dd>
                                        <dt>Status</dt>
                                        <dd>
                                            <span ng-switch on="data.assignation.ticket.client.status">
                                                <span class="label label-default" ng-switch-when="standby">Pendiente</span>
                                                <span class="label label-warning" ng-switch-when="invalid">Invalido</span>
                                                <span class="label label-info" ng-switch-when="accepted">Aceptado</span>
                                                <span class="label label-danger" ng-switch-when="canceled">Cancelado</span>
                                                <span class="label label-danger" ng-switch-when="rejected">Rechazado</span>
                                            </span>
                                        </dd>
                                        <dt>Nivel</dt>
                                        <dd>{{data.assignation.ticket.client.level}}</dd>
                                        <dt>Número de serie</dt>
                                        <dd ng-switch on="data.assignation.ticket.client.serial_number === null">
                                            <span ng-switch-when="true"><b class="text-danger">No se ha asignado ningún número de serie</b></span>
                                            <span ng-switch-when="false">{{data.assignation.ticket.client.serial_number}}</span>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <!-- formulary -->
                    <div class="row">
                        <div class="col-md-12">
                            <form class="m-t" role="form" action="#" name="completeTicketForm" novalidate>
                                <!-- position -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <h2>Mapa de ubicación</h2>
                                            <div ng-switch on="data.completion.position._status">
                                                <h1 ng-switch-when="false" class="text-danger"><b>No se pudo acceder a la ubicación</b></h1>
                                                <div ng-switch-when="true" class="lightBoxGallery">
                                                    <a href="{{data.completion.position.map_url}}" data-gallery="">
                                                        <img class="img-thumbnail" ng-src="{{data.completion.position.map_url}}" style="width:100%;"> 
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <!-- serial_number, recipient, work_description -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" show-errors='{showSuccess: true}'>
                                            <h2>
                                                Número de serie 
                                                <small ng-if="data.assignation.ticket.client.serial_number !== null">
                                                    <a href="#" eat-click 

                                                        tooltip="{{data.assignation.ticket.client.serial_number}}"
                                                        tooltip-placement="right"
                                                        tooltip-append-to-body="true"
                                                        ng-click="data.completion.serial_number = data.assignation.ticket.client.serial_number">
                                                        Usar el número de serie actualmente asignado
                                                    </a>
                                                </small>
                                            </h2>
                                            <input 
                                                class="form-control input-lg"
                                                id="serial_number"
                                                name="serial_number"
                                                ng-model="data.completion.serial_number"
                                                required />
                                            <p class="help-block" ng-if="completeTicketForm.serial_number.$error.required">El número de serie es requerido</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <h2>Persona que le recibió en el domicilio</h2>
                                            <input type="text" 
                                               class="form-control input-lg"
                                               id="errorCode"
                                               name="errorCode"
                                               ng-model="data.completion.recipient"/>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group" show-errors='{showSuccess: true}'>
                                            <h2>Acciones realizadas</h2>
                                            <textarea 
                                                class="form-control"
                                                id="work_description"
                                                name="work_description"
                                                style="resize:vertical;"
                                                ng-model="data.completion.work_description"
                                                required>
                                            </textarea>
                                            <p class="help-block" ng-if="completeTicketForm.work_description.$error.required">Especifica las razones de los cargos extras</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <!-- error_code, tds_in, tds_out -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group" show-errors='{showSuccess: true}'>
                                            <h2>Código de error</h2>
                                            <input type="text" 
                                               class="form-control input-lg"
                                               id="errorCode"
                                               name="errorCode"
                                               ng-model="data.completion.error_code" 
                                               typeahead="errorCode as errorCode.code + ' - ' + errorCode.category + ' - ' + errorCode.name for errorCode in data.errorCodes | orderBy:'category' | filter:$viewValue" 
                                               typeahead-min-length="0"
                                               autocomplete="off"
                                               required/>
                                            <p class="help-block" ng-if="completeTicketForm.errorCode.$error.required">El código de error es requerido</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" show-errors='{showSuccess: true}'>
                                            <h2>TDS entrada</h2>
                                            <input type="number" 
                                               class="form-control input-lg"
                                               id="tds_in"
                                               name="tds_in"
                                               ng-model="data.completion.tds_in"
                                               required/>
                                            <p class="help-block" ng-if="completeTicketForm.tds_in.$error.required">El TDS entrada es requerido</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" show-errors='{showSuccess: true}'>
                                            <h2>TDS salida</h2>
                                            <input type="number" 
                                               class="form-control input-lg"
                                               id="tds_out"
                                               name="tds_out"
                                               ng-model="data.completion.tds_out"
                                               required/>
                                            <p class="help-block" ng-if="completeTicketForm.tds_out.$error.required">El TDS salida es requerido</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <!-- extra_charges, extra_charges_reasons -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <h2>Cargos extras</h2>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-dollar"></i>
                                                </span>
                                                <input type="number" 
                                                   class="form-control input-lg"
                                                   id="extra_charges"
                                                   name="extra_charges"
                                                   ng-model="data.completion.extra_charges"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div ng-switch on="thereAreExtraCharges(data.completion.extra_charges)">
                                            <div ng-switch-when="true" class="form-group" show-errors='{showSuccess: true}'>
                                                <h2>Razones de cargos extras</h2>
                                                <textarea 
                                                    class="form-control"
                                                    id="extra_charges_reasons"
                                                    name="extra_charges_reasons"
                                                    style="resize:vertical;"
                                                    ng-model="data.completion.extra_charges_reasons"
                                                    required>
                                                </textarea>
                                                <p class="help-block" ng-if="completeTicketForm.extra_charges_reasons.$error.required">Especifica las razones de los cargos extras</p>
                                            </div>
                                            <div ng-switch-when="false" class="form-group">
                                                <h2>Razones de cargos extras</h2>
                                                <textarea 
                                                    class="form-control"
                                                    id="extra_charges_reasons"
                                                    name="extra_charges_reasons"
                                                    style="resize:vertical;"
                                                    ng-model="data.completion.extra_charges_reasons">
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <!-- used_parts -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>Partes usadas</h2>
                                        <div class="row" style="margin: 7px 0px;" ng-repeat="part in data.completion.used_parts">
                                            <div class="col-md-2 col-xs-4 text-right" style="margin-top:5px;">
                                                <button 
                                                    type="button"
                                                    class="btn btn-warning btn-xs"
                                                    ng-show="!$first"
                                                    ng-click="removePart(part)">
                                                    Quitar
                                                </button>
                                                <span class="label label-info">{{$index + 1}}</span>
                                            </div>
                                            <div class="col-md-3 col-xs-8">
                                                <input type="text" 
                                                   class="form-control input-sm"
                                                   ng-model="part.part"/>
                                            </div>
                                            <div class="col-md-7"></div>
                                        </div> 
                                        <div class="row">
                                            <div class="col-md-2 col-md-offset-3">
                                                <button type="button" class="btn btn-primary btn-sm btn-block" ng-click="addPart()">
                                                    <i class="fa fa-plus"></i>
                                                    Agregar parte
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <!-- photos -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2>Imágenes del servicio</h2>
                                                <div ng-show="uploader.isHTML5">
                                                    <div 
                                                        class="well well-lg h3 my-drop-zone text-center" 
                                                        nv-file-over="" 
                                                        uploader="uploader">
                                                        Arrastra las imágenes a ésta zona
                                                    </div>
                                                    <div class="text-center" style="margin-bottom:20px;">
                                                        <h1 style="margin-top:0px;">ó</h1>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-3">
                                                <label for="input-files" class="btn btn-primary btn-lg btn-block">
                                                    <i class="fa fa-file-image-o fa-fw fa-lg"></i><br/>
                                                    Seleccionar imágenes
                                                </label>
                                                <input 
                                                    type="file" 
                                                    id="input-files"
                                                    nv-file-select="" 
                                                    uploader="uploader" 
                                                    multiple/><br/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <h2>
                                                    # Imágenes: {{ uploader.queue.length }}
                                                    <small>
                                                        <a 
                                                            href="#" 
                                                            class="btn text-danger" 
                                                            ng-click="uploader.clearQueue()" 
                                                            ng-class="{
                                                                'disabled':  !uploader.queue.length     
                                                            }" eat-click>
                                                            <span class="glyphicon glyphicon-trash"></span> Borrar todas
                                                        </a>
                                                    </small>
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3" style="margin-bottom: 20px" ng-repeat="item in uploader.queue">
                                                <div 
                                                    ng-show="uploader.isHTML5" 
                                                    ng-thumb="{ file: item._file, height: 150}">
                                                </div>
                                                <strong><small>{{ item.file.name }}</small></strong><br/>
                                                <!--<h4>{{ item.file.size/1024/1024|number:2 }} MB</h4>-->
                                                <button type="button" class="btn btn-danger" ng-click="item.remove()">
                                                    <span class="glyphicon glyphicon-trash"></span> Borrar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>Imágen de comprobante de domicilio</h2>

                                        <div class="row text-center">
                                            <div class="col-md-6 col-md-offset-3" ng-if="addressUploader.queue.length < 1">
                                                <label for="input-files2" class="btn btn-primary btn-lg btn-block">
                                                    <i class="fa fa-file-image-o fa-fw fa-lg"></i><br/>
                                                    Seleccionar imágen
                                                </label>
                                                <input 
                                                    type="file" 
                                                    id="input-files2"
                                                    nv-file-select="" 
                                                    uploader="addressUploader" 
                                                    multiple /><br/>
                                            </div>

                                            <div class="col-md-12" ng-if="addressUploader.queue.length > 0">
                                                <div class="col-md-4 col-md-offset-4" style="margin-bottom: 20px" ng-repeat="item in addressUploader.queue">
                                                    <div 
                                                        ng-show="addressUploader.isHTML5" 
                                                        ng-thumb="{ file: item._file, height: 200}">
                                                    </div>
                                                    <strong><small>{{ item.file.name }}</small></strong><br/>
                                                    <!--<h4>{{ item.file.size/1024/1024|number:2 }} MB</h4>-->
                                                    <button type="button" class="btn btn-danger" ng-click="item.remove()">
                                                        <span class="glyphicon glyphicon-trash"></span> Borrar
                                                    </button>
                                                </div>
                                            </div>
                                        </div> 

                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <!-- send -->
                                <div class="row">
                                    <div class="col-md-offset-9 col-md-3">
                                        <button 
                                            type="button" 
                                            class="btn btn-info btn-lg btn-block" 
                                            ladda="data.loading" 
                                            data-style="zoom-in" 
                                            data-spinner-color="#3e495f" 
                                            data-spinner-size="20" 
                                            ng-click="completeTicket(completeTicketForm, data.completion)">
                                            Continuar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" ng-switch-when="true">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="widget style1 lazur-bg">
                            <div class="row">
                                <div class="col-md-4">
                                    <i class="fa fa-check fa-5x"></i>
                                </div>
                                <div class="col-md-8">
                                    <h2>Ticket completado correctamente!</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 text-right">
                Aguagente
                <!--<small>© 2014-2015</small>-->
            </div>
        </div>
    </div>
</div>