<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Contratos</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="animated fadeInDown">
                <div class="ibox float-e-margins">
	                <div class="ibox-title">
	                    <h5>Listado</h5>
	                </div>
	                <div class="ibox-content table-responsive">
	                    <table datatable="ng" class="table table-striped table-hover">
	                        <thead>
	                            <tr>
	                                <th>Cliente</th>
	                                <th>Subscripción</th>
	                                <th class="text-right">Balance MXN</th>
	                                <th></th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr ng-repeat="client in data.clients">
	                                <td>{{client.name}}</td>
	                                <td ng-switch="client.subscription_status">
                                        <span ng-switch-when="null"     class="label label-default">Faltante</span>
                                        <span ng-switch-when="in_trial" class="label label-primary">Periodo de prueba</span>
                                        <span ng-switch-when="active"   class="label label-success">Activa</span>
                                        <span ng-switch-when="paused"   class="label label-info">Pausada</span>
                                        <span ng-switch-when="past_due" class="label label-warning">Fallando</span>
                                        <span ng-switch-when="canceled" class="label label-danger">Cancelada</span>
                                    </td>
                                    <td class="text-right">{{client.debt | currency:'$ ':2}}</td>
                                    <td>
                                        <button class="btn btn-info" ng-click="showDebts(client)">Deudas</button>
                                    </td>
	                            </tr>
	                        </tbody>
	                    </table>
	                </div>
	            </div>
            </div>
        </div>
    </div>
</div>
