<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <img src="images/logo-aguagente-default.png" style="width:40%;margin-bottom:20px">
        </div>
        <h3>Bievenido a Aguagente</h3>
        <p>Por la gente, para la gente</p>
        <form class="m-t" role="form" ng-submit="login(data)">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" required="" ng-model="data.email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Contraseña" required="" ng-model="data.password">
            </div>
            <button type="submit" class="btn btn-info block full-width m-b" >Iniciar sesión</button>

            <a ui-sref="forgot-password"><small>¿Olvidaste tu contraseña?</small></a>
            <!--<p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" ui-sref="register">Create an account</a>-->
        </form>
        <!--<p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>-->
    </div>
</div>`