<div class="modal-header">
	<button type="button" class="close" ng-click="instance.close()"><i class="fa fa-times fa-lg text-danger"></i></button>
  	<h3 class="modal-title">Nueva encuesta</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-lg-12">
			<div class="wrapper wrapper-content">
	            <div class="animated fadeInDown">
                    <div class="row">
                        <div class="col-md-4">
                            <form class="form-horizontal" name="addPollForm" novalidate>
                                <div class="form-group" show-errors='{showSuccess: true}'>
                                    <label class="col-sm-4 control-label">Nombre</label>
                                    <div class="col-sm-8">
                                        <textarea type="text"
                                               id="name"
                                               name="name" 
                                               style="resize:vertical;"
                                               class="form-control"
                                               ng-model="instance.data.poll.name"
                                               required></textarea>
                                        <p class="help-block" ng-if="addPollForm.name.$error.required">El nombre es requerido</p>
                                    </div>
                                </div>
                                <div class="form-group" show-errors='{showSuccess: true}'>
                                    <label class="col-sm-4 control-label">Fecha inicio</label>
                                    <div class="col-sm-8">
                                        <input type="text"
                                               id="start_date"
                                               name="start_date" 
                                               class="form-control"
                                               ng-model="instance.data.poll.start_date"
                                               datepicker-popup="dd-MMM-yyyy" 
                                               is-open="instance.data.datepicker_inicio" 
                                               datepicker-options="{startingDay: 1, showWeeks: false}" 
                                               current-text="Hoy" 
                                               clear-text="Limpiar" 
                                               close-text="Cerrar" 
                                               readonly="readonly"
                                               ng-click="instance.open($event, 'datepicker_inicio')"
                                               required>
                                        <p class="help-block" ng-if="addPollForm.start_date.$error.required">La fecha inicial es requerida</p>
                                    </div>
                                </div>
                                <div class="form-group" show-errors='{showSuccess: true}'>
                                    <label class="col-sm-4 control-label">Fecha fin</label>
                                    <div class="col-sm-8">
                                        <input type="text"
                                               id="end_date"
                                               name="end_date" 
                                               class="form-control"
                                               ng-model="instance.data.poll.end_date"
                                               datepicker-popup="dd-MMM-yyyy" 
                                               is-open="instance.data.datepicker_fin" 
                                               datepicker-options="{startingDay: 1, showWeeks: false}" 
                                               current-text="Hoy" 
                                               clear-text="Limpiar" 
                                               close-text="Cerrar" 
                                               readonly="readonly"
                                               ng-click="instance.open($event, 'datepicker_fin')"
                                               required>
                                        <p class="help-block" ng-if="addPollForm.end_date.$error.required">La fecha final es requerida</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8">
                            <accordion close-others="false">
                                <accordion-group ng-repeat="question in instance.data.poll.questions">
                                    <accordion-heading>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label style="cursor:pointer;">
                                                    <input type="radio" icheck iCheck-class="square-green" ng-model="question.type" value="single">&nbsp;&nbsp;Simple
                                                </label><br/>
                                                <label style="cursor:pointer;">
                                                    <input type="radio" icheck iCheck-class="square-green" ng-model="question.type" value="multiple">&nbsp;&nbsp;Múltiple
                                                </label>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" ng-model="question.description"/>
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-danger" ng-click="instance.deleteQuestion($event, question)"><i class="fa fa-trash"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </accordion-heading>
                                    <div class="row" ng-repeat="option in question.options" style="margin:3px 0px;">
                                        <div class="col-md-12">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control" ng-model="option.description"/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-danger" ng-click="instance.deleteOption(question, option)"><i class="fa fa-trash"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-success pull-right" style="margin-top:15px;" ng-click="instance.addOption(question)"><i class="fa fa-plus fa-fw"></i>Agregar opción</button>
                                    <div class="clear"></div>
                                </accordion-group>
                            </accordion>
                            <button class="btn btn-success" ng-click="instance.addQuestion()"><i class="fa fa-plus fa-fw"></i>Agregar pregunta</button>
                        </div>
                    </div>
	            </div>
	        </div>
		</div>
	</div>
</div>
<div class="modal-footer">
  <button 
    class="btn btn-info btn-lg" 
    ladda="instance.data.loading" 
    data-style="zoom-in" 
    data-spinner-color="#3e495f" 
    data-spinner-size="20"
    ng-click="instance.save(addPollForm, instance.data.poll)">
        <i class="fa fa-floppy-o fa-lg fa-fw"></i>Guardar
    </button>
</div>
