<div class="passwordBox animated fadeInDown">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox-content">
                <h2 class="font-bold">Reestablecer contraseña</h2>
                <p>Proporciona los siguientes datos para reestablecer tu contraseña</p>
                <div class="row">
                    <div class="col-lg-12">
                        <form class="m-t" role="form" action="#" name="resetPasswordForm" novalidate>

                            <div class="form-group" show-errors='{showSuccess: true}'>
                                <label class="control-label" for="email">Correo electrónico</label>
                                <input 
                                    type="email"
                                    class="form-control"
                                    id="email"
                                    name="email"
                                    ng-model="data.user.email"
                                    required>
                                <p class="help-block" ng-if="resetPasswordForm.email.$error.required">El correo electrónico es requerido</p>
                                <p class="help-block" ng-if="resetPasswordForm.email.$invalid">Email inválido.</p>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group" show-errors='{showSuccess: true}'>
                                <label class="control-label" for="password">Contraseña</label>
                                <input type="password"
                                       id="password"
                                       name="password" 
                                       class="form-control"
                                       ng-model="data.user.password"
                                       required>
                                <p class="help-block" ng-if="resetPasswordForm.password.$error.required">La contraseña es requerida</p>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group" show-errors='{showSuccess: true}'>
                                <label class="control-label" for="checkPassword">Confirmar password</label>
                                <input type="password"
                                       id="checkPassword"
                                       name="checkPassword" 
                                       class="form-control" 
                                       ng-model="data.user.checkPassword"
                                       required>
                                <p class="help-block" ng-if="resetPasswordForm.checkPassword.$error.required">La verificación de la contraseña es requerida</p>
                                <p class="help-block" ng-class="{'block-important': data.user.password.length < 6}">La contraseña debe ser de al menos 6 caracteres</p>
                                <p class="help-block" ng-class="{'block-important': data.user.password !== data.user.checkPassword}">Las contraseñas no coinciden</p>
                            </div>

                            <button 
                                type="button" 
                                class="btn btn-info block full-width m-b" 
                                ladda="data.loading" 
                                data-style="zoom-in" 
                                data-spinner-color="#3e495f" 
                                data-spinner-size="20" 
                                ng-click="resetPassword(resetPasswordForm, data.user)">
                                Continuar
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            Aguagente
        </div>
        <div class="col-md-6 text-right">
            <!--<small>© 2014-2015</small>-->
        </div>
    </div>
</div>