<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Galería</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="animated fadeInDown">
                <div class="ibox float-e-margins">
	                <div class="ibox-title">
	                    <h5>Listado</h5>
	                    <button class="btn btn-success pull-right" ng-click="add()"><i class="fa fa-plus fa-fw"></i>Agregar post</button>
	                	<div class="clearfix"></div>
	                </div>
	                <div class="ibox-content table-responsive">
	                    <table datatable="ng" dt-options="data.dtOptions" dt-column-defs="data.dtColumnDefs" class="table table-striped table-hover">
	                        <thead>
	                            <tr>
	                                <th>Título</th>
	                                <th>Texto</th>
	                                <th>Fecha de alta</th>
	                                <th></th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr ng-repeat="post in data.posts">
	                                <td>{{post.title}}</td>
	                                <td>{{post.text}}</td>
	                                <td>{{post.created_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}</td>
                                    <td>
                                       <div class="btn-group bs-component btn-group-xs">
                                            <button class="btn btn-success" ladda="post.loading" data-style="zoom-in" data-spinner-color="#3e495f" data-spinner-size="20" ng-click="reviewImage(post)"><i class="fa fa fa-file-image-o fa-fw"></i>Imagen</button>
                                            <button class="btn btn-info" ng-click="edit(post)"><i class="fa fa-pencil-square-o fa-fw"></i>Editar</button>
                                            <button class="btn btn-danger" ng-click="delete(post)"><i class="fa fa-trash fa-fw"></i>Borrar</button>
                                        </div>
                                    </td>
	                            </tr>
	                        </tbody>
	                    </table>
	                </div>
	            </div>
            </div>
        </div>
    </div>
</div>
