<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Asignación de Tickets</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="animated fadeInDown">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row" id="parent-assign-column">
                            <div class="col-md-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="row" style="text-align: center;">
                                            <i>Tickets abiertos</i>
                                        </div>
                                    </div>
                                    <div class="panel-body" ng-repeat="ticket in data.filteredTickets">
                                        <div ng-mouseover="ticket.showBasicInfo = false" ng-mouseleave="ticket.showBasicInfo = true">
                                            <div ng-show="ticket.showBasicInfo">
                                                <h3>{{ticket.client.name}}</h3>
                                                <h4>{{ticket.error_code.category}} - {{ticket.error_code.code}} - {{ticket.error_code.name}}</h4>
                                                <h5 ng-switch on="ticket.type">
                                                    <b ng-switch-when="installation">Instalación</b>
                                                    <b ng-switch-when="service_call">Llamada de soporte</b>
                                                    <b ng-switch-when="filter_change">Cambio de filtro</b>
                                                    <b ng-switch-when="removal">Desinstalación</b>
                                                    <b ng-switch-when="move">Cambio de dirección del cliente</b>
                                                </h5>
                                                <small>
                                                    {{ticket.description}}
                                                </small>
                                                <p>
                                                    {{ticket.created_at | moment:'utc' | moment: 'toDate' | moment: 'format': 'ddd DD MMM YYYY HH:mm:ss'}}
                                                </p>
                                            </div>
                                            <div ng-hide="ticket.showBasicInfo">
                                                <p>
                                                    <i class="fa fa-home fa-fw" aria-hidden="true"></i>
                                                    <span style="font-size:11px;">
                                                        {{ticket.client.address}} #{{ticket.client.outdoor_number}}<br/>
                                                        {{ticket.client.colony}} {{ticket.client.postal_code}}<br/>
                                                        <b>ENTRE</b><br/>
                                                        {{ticket.client.between_streets}}
                                                    </span>
                                                </p>
                                                <p>
                                                    <i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
                                                    <span style="font-size:11px;">
                                                        {{ticket.client.email}}
                                                    </span>
                                                </p>
                                                <p>
                                                    <span style="font-size:11px;">
                                                        <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
                                                        {{ticket.client.phone}}
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <select
                                            ng:model="data.choosenTechnicians[$index]"
                                            class="form-control"
                                            ng-options="technician.name for technician in data.techniciansSelectedList"
                                            ng-disabled="data.techniciansSelectedList.length === 0">
                                        </select>
                                        <br>
                                        <button class="btn btn-primary"
                                            ng-disabled="data.currentNumberOfColumns === -1"
                                            ng-click="assignTicket(ticket, $index, data.choosenTechnicians[$index])">
                                            Asignar
                                        </button>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1" id="last-assign-column">
                                <button class="btn btn-success btn-circle" ng-click="addNewColumn(data.currentNumberOfColumns, data.currentNumberOfColumns + 1)"
                                ng-disabled="data.technicians.length - data.currentNumberOfColumns - 1 + hiddenColumns.length === 0">
                                    <i class="fa fa-plus font-large"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
